name: Linux GNU Build
on:
    push:
        paths:
            - 'src/**'
            - 'include/**'
            - 'main/**'
            - 'external/**'
            - 'examples/**'
            - 'modules/**'
            - 'cli*'
            - 'CMake*'
        branches:
            - 'main'
    pull_request:
        branches:
            - 'main'
env:
    CI: false
jobs:
    build:
        runs-on: [self-hosted, Linux]
        steps:
            - name: Basic info
              run: |
                  echo "Build for ${{ github.ref }} branch in ${{ github.repository }} repository."
                  echo "Job triggered by ${{ github.event_name }}, on self-hosted ${{ runner.os }}."  
                    echo "Log level: ${{ github.event.inputs.logLevel }}"
                  echo "Tags: ${{ github.event.inputs.tags }}"
            - name: Check out repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Build 
              run: |
                  export FASP_DIR=/opt/faspsolver
                  chmod 755 cli
                  ./cli build -b Debug -c gnu -t all